body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}


table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

#table {
  overflow-x: scroll;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 1em;
}

table th,
table td {
  text-align: center;
}

table th {
  font-size: 80%;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

.completeInput {
  width: 99%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 20px;
}

input, select, option {
  color: rgb(68, 68, 68);
}

.divgroup {
  display: flex;
  width: 100%;
}

.group {
  width: 50%;
}

.haffInput {
  width: 49%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 20px;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button {
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: rgba(66, 66, 66, 0.3);

  margin: auto;
  padding: 20px;
  width: 100%;
  color: rgb(57, 57, 57);
}

fieldset {
  margin: 10px;
  border: 1px solid rgb(164, 164, 164);
}

@media (max-width: 600px) {
  .container {
    margin: auto;
    padding: 20px;
    width: 90%;
  }

  .completeInput {
    width: 100%;
  }

  .haffInput {
    width: 100%;
  }

  .divgroup {
    display: block;
    width: 100%;
  }

  .group {
    width: 100%;
  }

  fieldset {
    margin: 0px;
    border: 0px solid rgb(164, 164, 164);
  }
}